report/output/*.log
report/output/*.aux
report/output/*.lof
report/output/*.lot
report/output/*.lol
report/output/*.toc
report/output/*.out
report/output/*.ilg
report/output/*.nls
report/output/*.nlo
report/output/*.fdb_latexmk
report/output/*.fls


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
